@import "head/vars.scss";
@import "head/typo.scss";
@import "head/line.scss";
@import "head/flex.scss";
@import "head/wrap.scss";

body{
	padding: 0;
	margin: 0;
    background-color: var(--coln-01);
}