<div id="join" class="mb-60">
    <div class="top flex center-x mb-15">
        <div class="icon md border-all rounded-full">
            {{ partial "icon/line/arrow-right.svg" }}
        </div>
        <h2 class="text-sm uppercase font-bold">Being Apart</h2>
    </div>
    <div class="bot">
       <div class="box border-left ml-15 mb-30">
            <p class="ml-20"> Daftarkan repository git dan publikasikan artikel di yuros langsung dari gitrepo anda. </p>
        </div>
        <div class="action">
            <a href="/page/register" class="button outline">Register</a>
        </div>
    </div>
</div>