{{- $page := where site.RegularPages "Type" .Section -}}
{{- $navi := .Paginate $page.ByDate 10 -}}
{{- $ctx  := . -}}{{- $site := $ -}}

<div id="paginate">
    <div class="subhead mb-40">
        <div class="flex center-x">
            <h2 class="text-xl border-right font-bold">Explore The Ideas</h2><hr>
        </div>
    </div>
    <div class="top mb-60">
    {{- range $navi.Pages -}}
        <div class="flex mb-40">
            <div class="metas">
                <a href="{{ .RelPermalink }}">
                    <h2 class="text-xl font-bold mt-00 mb-10">{{ .LinkTitle }}</h2>
                    <p class="text-sm mb-20 mr-20"> {{- .Page.Params.Description -}}</p>
                </a>
                <div class="flex center-x">
                    <div class="action flex center-x">
                        <div class="flex center-x mr-10">
                            <div class="icon md la-01 rounded-full">{{ partial "icon/line/bookmark.svg" }}</div>
                        </div>
                        <div class="flex center-x mr-10">
                            <div class="icon md la-01 rounded-full">{{ partial "icon/line/heart.svg" }}</div>
                        </div>
                        <div class="flex center-x">
                            <div class="icon md la-01 rounded-full">{{ partial "icon/line/share-2.svg" }}</div>
                        </div>
                    </div>
                    <div class="author flex center-x ml-30">
                        {{- with .Page.Params.Metadata.Author -}}
                            {{- $names := partial "lib/profile/person-name.html" ( dict  "ctx" $ctx "site" $site "name" . )  -}}
                            {{- $cover := partial "stories/library/author.html"  ( dict  "ctx" $ctx "site" $site "name" . )  -}}
                            <div class="box flex center-x">{{ $cover }}</div><h2 class="text-xs font-bold mt-00 mb-00 ml-10 mr-10">{{- $names -}}</h2>
                        {{- end -}}
                    </div>
                    <div class="timedate text-sm">
                        {{- printf "%d min" .ReadingTime -}} Read
                    </div>
                </div>
            </div>
            <div class="image ml-a">
                {{- partial "stories/library/squareimg.html" . -}}
            </div>
        </div>
        <hr class="mb-40">
    {{- end -}}
    </div>
    <div class="low paginate">
        {{- partial "pagination.html" . -}}
    </div>
</div>