{{- if eq .Site.Params.Module.Article.Subcribe true -}}
<div id="subs" class="mb-60">
    <div class="subhead mb-10">
        <div class="flex center-x">
            <h2 class="text-xl border-right font-bold">Subcribe</h2><hr>
        </div>
    </div>
    <div class="content flex center-x">
        <div class="icon lg mr-20">
            <div class="overlay">{{- partial "icon/line/mail.svg" -}}</div>
        </div>
        <div class="text">
            <h3 class="ml-10 text-xl">Get the best of {{ .Site.Title }} delivered to you daily.</h3>
            <div class="action">
                <a class="button outline" href="/stories/register">Subscribe</a>
            </div>
        </div>
    </div>
</div>
{{- end -}}