@import "../../../../../css/wrap/m-00.scss";
@import "../../../../../css/wrap/m-10.scss";
@import "../../../../../css/wrap/m-15.scss";
@import "../../../../../css/wrap/m-20.scss";
@import "../../../../../css/wrap/m-25.scss";
@import "../../../../../css/wrap/m-30.scss";
@import "../../../../../css/wrap/m-40.scss";
@import "../../../../../css/wrap/m-50.scss";
@import "../../../../../css/wrap/m-60.scss";
@import "../../../../../css/wrap/m-70.scss";
@import "../../../../../css/wrap/p-15.scss";

@import "../../../../../css/grid/col-6-4.scss";
@import "../../../../../css/grid/col-3-6.scss";
@import "../../../../../css/grid/col-5-4.scss";
@import "../../../../../css/grid/col-4-5.scss";
@import "../../../../../css/grid/col-4.scss";
@import "../../../../../css/grid/col-6.scss";



@import "head/hero.scss";


#item{
    margin-top: 6rem;
}

.head{
    h2 {
        color: var(--color-02);
        text-wrap: nowrap;
        padding: 0 1.5rem 0 0;
    }
    hr{ width: 100%; }
}



@media only screen and( min-width: 1080px ) {



}