
#feat{

    .leaf{
        .main {
            .thumb{
                margin-bottom: 2rem;
            }
        }
    }
    .card .space{
        flex-direction: column;
        justify-content: space-between;
    }
}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

    #feat{
        margin-bottom: 7rem;

        .leaf{
            .main {
                margin-bottom: 4rem;
                .thumb{
                    margin-bottom: 2rem;
                }
            }
        }
    }
}


@media only screen and (min-width: 1280px) {

}


@media only screen and (min-width: 1536px) {

}