{{- $ctx  := . -}}{{- $site := $ -}}

{{- range .Paginator.Pages -}}
<div class="card rounded-xl border-all mb-60">
    <div class="top flex center-x">
        {{- with .Page.Params.Metadata.Author -}}
            {{- $names := partial "lib/profile/person-name.html" (dict  "ctx" $ctx "site" $site "name" . )  -}}
            {{- $cover := partial "stories/library/author.html"      (dict  "ctx" $ctx "site" $site "name" . )  -}}
            <div class="author flex center-x">{{ $cover }}</div><h2 class="text-sm font-bold mt-00 mb-00 ml-20 mr-20">{{- $names -}} </h2>
        {{- end -}}
        <div class="flex center-x ml-a">
            <div class="flex center-x mr-10">
                <div class="icon md la-01 rounded-full">{{ partial "icon/line/bookmark.svg" }}</div>
            </div>
            <div class="flex center-x mr-10">
                <div class="icon md la-01 rounded-full">{{ partial "icon/line/heart.svg" }}</div>
            </div>
            <div class="flex center-x">
                <div class="icon md la-01 rounded-full">{{ partial "icon/line/share-2.svg" }}</div>
            </div>
        </div>
    </div>
    <div class="mid">
        <a href="{{ .RelPermalink }}">
            {{- partial "stories/library/featureimg.html" . -}}
        </a>
    </div>
    <a href="{{ .RelPermalink }}" class="flex center-x low">
        <h2 class="text-lg font-bold mb-00 mt-00">{{ .Title }}</h2>
        <div class="icon md la-01 border-all rounded-full ml-a">{{ partial "icon/line/arrow-right.svg" }}</div>
    </a>
</div>
{{ end }}

<div class="low paginate">
    {{- partial "pagination.html" . -}}
</div>