{{- $feat := "themes/default/taxo/main/part/thumb-feature.html" -}}

<div id="{{ .name | urlize }}" class="cord grid">
    <div class="head mb-60">
        <div class="flex-inline center-x border-bottom">
            <h2 class="text-2xl border-right mt-00 mb-00 pr-15 pb-10">{{ .name }}</h2>
            <div class="mt-00 mb-00 pl-15 pb-10">{{ .page.Params.Module.Desc }}</div>
        </div>
    </div>
    <div class="leaf grid">
        <div class="lside">
            {{- range  $index, $value :=  first 1 .list -}}
            <a href="{{ .RelPermalink }}" class="card grid list-1">
                <div class="thumb mb-30">{{- partial $feat . -}}</div>
                <div class="metas">
                    <div class="flex">
                        <div class="rounded-full overflow-hidden">{{- partial "parted/avatar/user-28.html" . -}}</div>
                        <h2 class="text-xl font-bold mb-10 mt-00 ml-15">{{- .Title -}}</h2>
                    </div>
                    <p class="text-sm mb-00">{{- .Page.Params.Description -}}</p>
                </div> 
            </a>
            {{- end -}}
        </div>
        <div class="rside">
            {{- range $index, $value := first 5 .list -}}{{ if gt $index 0  }}
                <a href="{{ .RelPermalink }}" class="card grid list-{{ math.Sum $index 1 }} mb-50">
                    <div class="metas">
                        <div class="flex">
                            <div class="rounded-full overflow-hidden">{{- partial "parted/avatar/user-28.html" . -}}</div>
                            <h2 class="text-lg font-bold mb-10 mt-00 ml-15">{{- .Title -}}</h2>
                        </div>
                        <p class="text-sm mb-00">{{- .Page.Params.Description -}}</p>
                    </div> 
                    <div class="thumb">{{- partial $feat . -}}</div>
                </a>
            {{- end -}}{{- end -}}
            <hr class="mb-15">
            <a href="{{ .page.RelPermalink }}" class="flex center-x capitalize text-sm font-bold">
                More {{ .page.Title }} article
                <div class="icon sm border-all rounded-full ml-15">{{ partial "icon/line/arrow-right" }}</div>
            </a>
        </div>
    </div>
</div>