<!-- variable -->
{{- $part := "themes/default/base/main/part/" -}}
{{- $lead := printf "%s/lead.html" $part -}}
{{- $late := printf "%s/late.html" $part -}}
{{- $list := printf "%s/list.html" $part -}}
{{- $save := printf "%s/save.html" $part -}}
{{- $pick := printf "%s/pick.html" $part -}}
{{- $subs := printf "%s/subs.html" $part -}}

<!-- paginate -->
{{- $navi := .Paginate ( where site.RegularPages "Type" .Section ).ByDate 10 -}}


<main id="base" class="story item" data-page="{{ $navi.PageNumber }}">
    <div class="wrap item">
        <div class="row">
            <div class="col col-xs-12 col-lg-4">
                {{- partial $lead . -}}{{- partial $save . -}}{{- partial $pick . -}}{{- partial $subs . -}}
            </div>
            <div class="col col-xs-12 col-lg-6 ml-a">
                {{- partial $list . -}}
            </div>
        </div>
    </div>
</main>