h1{
    font-size: 170%;
}

h2{
    font-size: 160%;
}

h2{
    font-size: 150%;
}

h3{
    font-size: 140%;
}

h4{
    font-size: 130%;
}

h5{
    font-size: 120%;
}

h6{
    font-size: 110%;
}

p, a{
    font-size: 100%;
    line-height: 1.4;
}

code{
    font-size: 98%;
}

a{
    text-decoration: none;
}