@import "../../../../../css/flexs/_init.scss";
@import "../../../../../css/flexs/col-12.scss";
@import "../../../../../css/flexs/col-03.scss";
@import "../../../../../css/flexs/col-08.scss";


main{
    margin-top: 3rem;
}

img{
    width: 100%;
    height: 100%;
}

#team {
    .box{
        position: relative;
        background-color: var(--background-02);
        padding: 10px 20px;
    }
}

#menu{

    .snip{
        color: var(--color-01);
        background-color: var(--background-02);
        padding: 7px 20px;
    }

    .low .flex{
        flex-wrap: wrap;
    }

    .low a{
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

#lead, .card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    background-color: var(--background-02);

    .top, .low {
        padding: 15px 20px;
    }

    .mid img{
        width: 100%;
        border-radius: 0;
    }
}

#lead {
    hr{
        width: 130px;
    }
}

.author img{
    width: 32px;
    height: 32px;
}

#side{
    display: none;
}

.paginate ul{
    list-style: none;
    display: flex;
    justify-content: center;
    li{ margin: 0 10px; }
}

@media only screen and (min-width: 480px) {
    #lead, .card{
        width: 460px;
    }
}

@media only screen and( min-width: 720px ) {
     #lead, .card{
        width: 480px;
    }
}

@media only screen and( min-width: 1080px ) {
    #side{
        display: block;
    }
}