{{- $part := "themes/default/page/main/view/" -}}
{{- $meta := printf "%s/meta.html" $part -}}
{{- $bred := "themes/default/page/main/part/breadcumb.html" -}}
{{- $feat := "themes/default/page/main/part/thumb-feature.html" -}}
<div class="wrap">
    <div class="row">
        <div class="popon col">
            <div class="bread">
                {{- partial $bred . -}}
            </div>
            <div class="title">
                <h1 class="text-4xl">{{ .Title }}</h1>
            </div>
            <div class="metabox">{{- partial $meta . -}}</div>
        </div>
        <div class="image col ml-a">
            {{- partial $feat . -}}
        </div>
    </div>
</div>