{{- $related := .Parent.Pages.Related . | first 5 -}}
{{- $organon := .Site.Title -}}{{- $ctx  := . -}}{{- $site := $ -}}
{{- with .Site.Params.Profile.Name }}{{- $organon = . -}}{{- end -}} 
{{- $feat := "themes/default/page/main/part/thumb-feature.html" -}}
{{- $auth := "themes/default/page/main/part/thumb-authors.html" -}}

<div id="rels">
{{ with $related }}
    <h2 class="text-lg font-bold mt-00 mb-40 mr-20">Recomended From {{ $organon }}</h2>
    <ul>{{ range $i, $p := . }}
        <li class="mb-50"><a href="{{ .RelPermalink }}">
            <div class="thumb mb-00">{{- partial $feat . -}}</div>
            <div class="flex center-x">
                <div class="meta flex center-x mr-15">
                    {{- with .Page.Params.Metadata.Author -}}
                        {{- $cover := partial $auth (dict  "ctx" $ctx "site" $site "name" . )  -}}
                        <div class="author">{{ $cover }}</div>
                    {{- end -}}
                </div>
                <div class="info">
                    <h2 class="top text-lg mt-05 mb-00">{{- .LinkTitle -}}</h2>
                    <div class="bot flex center-x">
                        <div class="flex center-x">
                            {{- with .Page.Params.Metadata.Author -}}
                                <h2 class="text-sm font-bold mt-00 mb-00 mr-10">{{- . -}}</h2> |
                            {{- end -}} 
                            <div class="update text-sm flex center-x mt-00 mb-00 ml-10">Update {{ .Lastmod | time.Format "1 January 2006"  }}</div>
                        </div>
                        <div class="icon md ml-a">{{- partial "icon/line/arrow-up-right.svg" -}}</div>
                    </div>
                </div>
            </div>
        </a></li>
    {{ end }}</ul>
{{ end }}
</div>